# Ignore environment variables
backend/myproj/.env

# Ignore ENV folder
backend/env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore Django migrations
backend/base/migrations/

# Ignore node_modules (frontend dependencies)
frontend/node_modules/

# Ignore build output (frontend)
frontend/build/

# Miscellaneous
.DS_Store

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local
